.grid-members{
    display: grid;
    grid-template-areas: 
            ". a"
            "b a"
            "b c"
            "d c"
            "d e"
            ". e";
            grid-column-gap: 2.5rem;
    @media screen and (max-width:$breakpoint_sm) {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
            max-width: 90%;
    }
    .membre{
        margin: 1rem 0;
        &:nth-child(1){
            grid-area: a;
        }
        &:nth-child(2){
            grid-area: b;
            .wp-block-columns{
                flex-direction: row-reverse;
                text-align: end;
                @media screen and (max-width:$breakpoint_sm){
                    flex-direction: initial;
                    text-align: initial;
                }
            }
        }
        &:nth-child(3){
            grid-area: c;
        }
        &:nth-child(4){
            grid-area: d;
            .wp-block-columns{
                flex-direction: row-reverse;
                text-align: end;
                @media screen and (max-width:$breakpoint_sm){
                    flex-direction: initial;
                    text-align: initial;
                }
            }
        }
        &:nth-child(5){
            grid-area: e;
        }
        .wp-block-columns{
            @media screen and (max-width:$breakpoint_sm){
                display: grid;
                grid-template-columns: 70px auto;
            }
            .wp-block-column{
                min-width: 70px;
                &:nth-child(2){
                    flex-basis: 70%;
                    margin: 0 1rem;
                }
                span{
                    color: var(--global--color-green);
                    font-size: 18px;
                }
                h3{
                    font-size: 24px;
                    margin-bottom: 1rem;
                }
                img{
                    max-width: 90px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}