#slideshow-container{
    @media screen and (max-width:$breakpoint_sm) {
        max-width: 1000px;
        min-height: 100px;
        position: relative;
        margin: auto;
        .wp-block-column{
            display: none;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            padding: 16px;
            background-color: var(--global--color-green);
            color: var(--global--color-black);
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            user-select: none;
            clip-path: circle(50%);
        }
        
        /* Position the "next button" to the right */
        .next {
            right: 5%;
        }
        .prev{
            left: 5%;
        }
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        }        
    }

}