/**
 * Reset specific elements to make them easier to style in other contexts.
 */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/**
 * Apply generic border-box to all elements.
 * See:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {

	/* Apply border-box across the entire page. */
	box-sizing: border-box;

	// HTML resets
	font-family: var(--global--font-secondary);
	line-height: var(--global--line-height-body);
}

/**
 * Relax the definition a bit, to allow components to override it manually.
 */
* {

	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

// body resets
body {
	font-size: var(--global--font-size-base);
	font-weight: normal;
	color: var(--global--color-primary);
	text-align: left;
	background-color: var(--global--color-background);
	&:not(.home){
		hr{
			position: relative;
			border: none;
			&::after{
				content: '';
				width: 100%;
				height: 3px;
				background: linear-gradient(270deg, rgba(42,76,150,1) 0%, rgba(55,157,226,1) 33%, rgba(109,209,197,1) 66%, rgba(111,211,108,1) 100%);;
				position: absolute;
				left: 0;
				bottom: 0px;
			}
		}
		&.page-template-wrapper{
			.entry-content{
				max-width: 600px;
				margin: 0 auto;
				@media screen and (max-width:650px) {
					max-width: 90%;
				}
			}
		}		
	}

	.entry-content{
		@include media(mobile-only){
			margin: 0 1.5rem;
		}
	}
}


button {
	cursor: pointer;
}
