// Footer
.site-footer {
	padding: 1rem 0;
	background-color: #000;
	

	// Increase the top vertical spacing when there is no widget area.
	.no-widgets & {
		margin-top: calc(3 * var(--global--spacing-vertical));
	}

	@include media(mobile-only) {
		.no-widgets & {
			margin-top: calc(3 * var(--global--spacing-vertical));
		}
	}
}

// Footer Branding
.site-footer > .site-info {
	@extend %responsive-alignwide-width;
	padding-top: 0;
	padding-bottom: 0;
	margin:0 auto;
	color: var(--footer--color-text);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	//border-top: 3px solid var(--global--color-border);
	> p{
		text-align: center;
	}
	.site-name {
		text-transform: var(--branding--title--text-transform);
		font-size: var(--branding--title--font-size);
		a{
			text-decoration: none;
		}
		.site-description{
			text-align: center;
			color:var(--global--color-green);
			font-size:var(--global--font-size-md);
		}
		.footer-navigation-social{
			list-style-type: none;
			display: inline-block;
			padding-left:0;
			width:100%;
			li{
				width:20%;
				text-align: center;
				display: inline-block;
				svg{
					height: 18px;
				}
			}
		}
	}

	.powered-by {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	@include media(desktop) {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.powered-by {
			margin-top: initial;
			margin-left: auto;
		}
	}

	a {
		color: var(--footer--color-link);

		&:link,
		&:visited,
		&:active {
			color: var(--footer--color-link);
		}

		&:hover {
			color: var(--footer--color-link-hover);
		}

		&:focus {
			color: var(--footer--color-link-hover);

			.is-dark-theme & {
				color: var(--wp--style--color--link, var(--global--color-background));
			}

			// Change colors when the body background is white.
			.has-background-white & {
				color: var(--wp--style--color--link, var(--global--color-white));
			}
		}
	}
}
