// Site header
#page{
	#main{
		@include media(mobile-only){
			h1{
				font-size: 2rem;
			}
			h2{
				font-size: 1.5rem;
			}
			p{
				font-size: 14px;
			}
		}
	}
}
.home h1{
	width: fit-content;
	position: relative;
	font-weight: 400 !important;
	line-height: 100% !important;
	strong{
		position: relative;
		font-size: 56px;
		@include media(mobile-only){
			font-size: 2.5rem;
		}
		line-height: 150%;
		&::after{
			content: '';
			width: 100%;
			height: 3px;
			background: linear-gradient(270deg, rgba(42,76,150,1) 0%, rgba(55,157,226,1) 33%, rgba(109,209,197,1) 66%, rgba(111,211,108,1) 100%);;
			position: absolute;
			left: 0;
			bottom: 0px;
		}
	}
	
	@media screen and (min-width:500px) {
		&::before{
			@include media(mobile-only){
				width: 250px;
				/* left: -100%; */
				height: 220px;
			}
			content: '';
			background-image: url('assets/images/graphic_logo.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: calc(389px);
			height: calc(337px);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -70%;
		}	
	}
}

.underline-h2{
	width: fit-content;
	position: relative;
	&::after{
		content: '';
		width: 100%;
		height: 3px;
		background: linear-gradient(270deg, rgba(42,76,150,1) 0%, rgba(55,157,226,1) 33%, rgba(109,209,197,1) 66%, rgba(111,211,108,1) 100%);;
		position: absolute;
		left: 0;
		bottom: 0px;
	}
}

#header-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: unset;
	margin: 0 2rem 0 2rem;
	@include media(mobile-only){
		margin: 0;
	}
	.wp-custom-logo & {
		align-items: center;
	}
}
.site-header {
	//@extend %responsive-alignwide-width;
	//position:sticky;
	top: 0;
	width:100%;
	z-index: 9;
	background-color: var(--global--color-bgblue);
	max-width: unset;;
	row-gap: var(--global--spacing-vertical); // Add space in case the menu wraps below the site branding.
	//box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


	@include media(mobile) {
		//padding-top: calc(var(--global--spacing-vertical) / 0.75); // 40px
		padding: 0;
	}

	@include media(desktop) {
		//padding-top: calc(2.4 * var(--global--spacing-vertical)); // 60px
		
		padding:0;
	}
}

// Site branding
.site-branding {
	color: var(--branding--color-text);
	margin-right: 140px;
	@include media(mobile-only){
		margin: 0;
	}
	margin-left: 1rem;
	&:last-child {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	@include media(mobile) {
		margin-right: initial;
		//margin-top: 4px; // Align the baseline of the site title with the primary menu
	}
}

// Site title
.site-title {

	color: var(--branding--color-link);
	font-family: var(--branding--title--font-family);
	font-size: var(--branding--title--font-size-mobile);
	letter-spacing: normal;
	text-transform: var(--branding--title--text-transform);
	line-height: var(--global--line-height-heading);
	margin-bottom: calc(var(--global--spacing-vertical) / 6);

	a {
		color: currentColor;
		font-weight: var(--branding--title--font-weight);

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: var(--branding--color-link-hover);
		}

	}

	@include media(mobile) {
		font-size: var(--branding--title--font-size);
	}
}

// Site description
.site-description {
	color: currentColor;
	font-family: var(--branding--description--font-family);
	font-size: var(--branding--description--font-size);
	line-height: 1.4;
}

.site-title > a {
	text-decoration-color: var(--global--color-secondary);
}

// Site logo
.site-logo {

	margin: calc(var(--global--spacing-vertical) / 2) 0;

	.site-header > & {
		width: 100%;
		padding-bottom: calc(var(--global--spacing-vertical) * 1.5);
		border-bottom: 1px solid;
		text-align: center;
	}

	.custom-logo {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--branding--logo--max-width-mobile);
		max-height: var(--branding--logo--max-height-mobile);
		height: 100%;
		display: inline-block;
		width: auto;
	}

	@include media(mobile) {

		.custom-logo {
			max-width: var(--branding--logo--max-width);
			//max-height: var(--branding--logo--max-height);
			height: 100%;
			//width: 100%;
		}
	}
}

@include media(mobile-only) {

	.site-header {

		&.has-logo {

			&:not(.has-title-and-tagline) {

				&.has-menu {

					.site-logo {
						padding-top: calc(0.5 * var(--global--spacing-vertical));
						margin-top: 0;
						top: var(--global--admin-bar--height);

						.primary-navigation-open & {
							display: none;
						}

						img {
							height: 60px;
							//max-height: calc(var(--button--padding-vertical) - (0.25 * var(--global--spacing-unit)) + 1.7em);
						}
					}
				}
			}

			&.has-title-and-tagline {
				align-items: flex-start;

				&.has-menu {
					justify-content: space-between;

					.site-branding {
						max-width: calc(100% - 160px);
					}
				}

				.site-branding {
					margin-right: 0;
				}

				body:not(.primary-navigation-open) & {

					&:after {
						display: none;
					}

					.primary-navigation {
						position: relative;
						top: 0;
					}

					.menu-button-container {
						position: relative;
						padding-top: 0;
						margin-top: calc(0px - var(--button--padding-vertical) + (0.25 * var(--global--spacing-unit)));

						#primary-mobile-menu {
							// The 4.5px here is to offset the icon size horizontallly
							// (the icon's width is larger than the path's width and has extra space on the sides).
							padding-left: calc(var(--global--spacing-horizontal) * 0.6 - 4.5px);
							padding-right: calc(var(--global--spacing-horizontal) * 0.6 - 4.5px);
							margin-right: calc(0px - var(--global--spacing-horizontal) * 0.6);
							text-align: end;
						}
					}
				}
			}
		}

		&:not(.has-logo) {

			&.has-title-and-tagline {

				.site-branding {
					margin-right: 0;
					max-width: calc(100% - 160px);
				}
			}
		}

		&:not(.has-menu) {
			justify-content: center;
		}
	}
}