body{
	background-color: var(--global--color-bgblue);
}

.singular .entry-header {
	border-bottom: none;
	padding-bottom: calc(2 * var(--global--spacing-vertical));
	margin-bottom: 0;
}

.home .entry-header {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.singular .has-post-thumbnail .entry-header {
	border-bottom: none;
	padding-bottom: calc(1.3 * var(--global--spacing-vertical));
	margin-bottom: 0;
}

//Single BLOG

.article-single{
	font-size: 24px;
	font-weight: 700;
	span{
		font-weight: 400;
		font-size: 18px;
		color: var(--global--color-gray);

	}
}

.single-header{
	.wrapper-single{
		display: grid;
		grid-template-columns: auto auto;

		@media screen and (max-width:$breakpoint_sm) {
			grid-template-columns: 1fr;
			ul{
				margin-top: 2rem;
			}
		}

		margin-top: 2rem;
		a{
			.svg-icon {
				display: inline-block;
				fill: currentColor;
				vertical-align: middle;
				position: relative;
			}
		}
		ul{
			display: flex;
			justify-content: center;
			list-style: none !important;
			flex-wrap: wrap;
			li{
				padding: 0.15rem 0.75rem !important;
				border-radius: 0.5rem;
				margin: 0.5rem;
				box-shadow: 0px 0px 30px #00000029;
				a{
					text-decoration: none;
					h2{
						font-size: 15px;
						color: var(--global--color-white);
					}
				}
			}
		}
	}
}

//Single JOB
.job{
	margin-top: 2rem;
	header{
		a{
			.svg-icon {
				display: inline-block;
				fill: currentColor;
				vertical-align: middle;
				position: relative;
			}
		}
	}
}
#main .header-job{
	margin-top: 4rem;
	h1{
		font-size: 55px;
		font-weight: 700;
		margin: 1rem 0;
	}
	h2{
		font-size: 24px;
		span{
			color: var(--global--color-green);
			font-size: 18px;
			font-weight: 400;
		}
	}
}

#modal-job{
	margin: 0;
}

.modal-job{
	display: none;
	&.active{
		display: initial;
	}

    position: fixed;
    width: 100%;
    height: 100%;

	backdrop-filter: blur(5px);

    top: 0;
    left: 0;

    z-index: 999;

    background: rgba(0, 0, 0, 0.500);
	h2{
		font-weight: 700;
		font-size: 22px;
		color: var(--global--color-white);
		text-align: center;
		span{
			font-size: 18px;
			color: var(--global--color-green);
		}
	}
    img{
		position: absolute;
		right: 10px;
		top: 10px;
    }
    .modal-box{
		@media screen and (max-width:$breakpoint_sm) {
			max-height: 700px;
			overflow-y: scroll;			
		}

		background-color: #1A202B;
		padding: 2rem 4rem;
		border-radius: 2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 700px;
        height: fit-content;
    }
}
#btn-modale-job{
	border: none;
	color: #000;
	max-width: var(--responsive--aligndefault-width);
}