.arrow{
	figure{
		img{
			@include media(mobile-only){
				width: 30px;
			}
		}
	}
}

.custom_img{
	.wp-block-media-text__content{
		@include media(mobile-only){
			padding: 1rem 0 !important;
		}
	}
	figure{
		position: relative;
		padding: 3px;
		background: linear-gradient(45deg, rgba(42,76,150,1) 0%, rgba(55,157,226,1) 33%, rgba(109,209,197,1) 66%, rgba(111,211,108,1) 100%);;
		&::before{
			content: '';
			background-image: url('assets/images/green_circle.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 40px;
			height: 73px;
			position: absolute;
			top: 15px;
			right: -15px;
			transform: rotate(180deg) scale(1.2);
		}
		&::after{
			content: '';
			background-image: url('assets/images/darkblue_square.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 22px;
			height: 73px;
			position: absolute;
			bottom: 10px;
			left: -22px;
		}
	}
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/* Classic editor images */
.entry-content img {
	max-width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Media captions */
figcaption,
.wp-caption,
.wp-caption-text,
.wp-block-embed figcaption {
	color: currentColor;
	font-size: var(--global--font-size-xs);
	line-height: var(--global--line-height-body);
	margin-top: calc(0.5 * var(--global--spacing-unit));
	margin-bottom: var(--global--spacing-unit);
	text-align: center;

	.alignleft &,
	.alignright & {
		margin-bottom: 0;
	}
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
