/* .scrollTop{
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background-image: var(--global--color-black);
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
    scroll-behavior: smooth;
    &::after{
        content: url('');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-55%);
    }
} */